.CreateProduct{
 text-align: center;
 margin: 0 auto;
}
.CreateForm{

    display: flex;
    flex-direction: column;
align-items: center;

}
.CreateInput{
    display: flex;
    padding: 30px 20px;
    width: 80%;
    display: flex;
    gap: 20px;
}
.CreateInput input{
    width: 100%;
}
.CreateInput label{
    width: 80px;
    font-weight: bold;
  
    margin:10px 10px 10px 50px;
}
.CreateButton{
    width: 100px;
    margin: 50px;
}