.ProductDetail{
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    
}
h1{
    font-size: 35px;
    color: rgb(81, 26, 133);
}

.ProductDetailImg{
width: 400px;
height: 300px;


}
.Description{
    font-size: 24px;
    font-weight: 800;
}
.ProductDetail i {
    font-size: 24px; /* Размер иконок */
    margin-right: 10px; /* Отступ между иконкой и текстом, если нужно */
    cursor: pointer; /* Указатель при наведении */
    color: black;
   
}
.Edit{position: absolute;
right: 4%;
    text-decoration: none;
}