.Pagination{
    margin-top: 70px;
}
.Pagination-button{
    margin-left: 10px;
    width: 30px;
    height: 20px;
    background: linear-gradient(90deg,rgb(204, 228, 235), rgb(122, 122, 206));
    border-radius: 10px;
    border: none;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Pagination-button:disabled{
    opacity: 0.6;
}